
body {
    margin: 0;
    padding: 0;
    font-family: Nunito, sans-serif;
    background: #193552;
}

.box h1{
    color: whitesmoke;
    text-transform: uppercase;
    font-weight: 500;
}

.box {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: cornflowerblue;
    text-align: center;
    border-radius: 20px;
}

.box input[type = "text"], .box input[type = 'password'] {
    border: 0;
    background: none;
    margin: 20px auto;
    text-align: center;
    display: block;
    border: 2px solid black;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: whitesmoke;
    border-radius: 20px;
    transition: 0.25s;
}

.box input[type ='text']:focus, .box input[type ='password']:focus {
width: 300px;
border-color: #99FFBB;
}

.box input[type = "submit"]{
    background: none;
    margin: 20px auto;
    text-align: center;
    display: block;
    border: 2px solid#99FFBB;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: whitesmoke;
    border-radius: 20px;
    transition: 0.25s;
    cursor: pointer;

}

.box input[type = "submit"]:hover {
    background: 4EA5FF;
}